In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd

In [4]:
accidents_data = pd.read_csv("data/accidents.csv")

In [5]:
accidents_data

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [6]:
print(accidents_data)

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [8]:
accidents_data.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
accidents_data.shape

(6, 2)

In [11]:
result = pd.read_excel("data/green_tripdata_2015-09.xls")

In [13]:
result.shape

(65535, 21)

In [14]:
result.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-09-01 00:02:34,2015-09-01 00:02:38,N,5,-73.979485,40.684956,-73.979431,40.685020,1,...,7.8,0.0,0.0,1.95,0.0,NaN,0.0,9.75,1,2
1,2,2015-09-01 00:04:20,2015-09-01 00:04:24,N,5,-74.010796,40.912216,-74.010780,40.912212,1,...,45.0,0.0,0.0,0.00,0.0,NaN,0.0,45.00,1,2
2,2,2015-09-01 00:01:50,2015-09-01 00:04:24,N,1,-73.921410,40.766708,-73.914413,40.764687,1,...,4.0,0.5,0.5,0.50,0.0,NaN,0.3,5.80,1,1
3,2,2015-09-01 00:02:36,2015-09-01 00:06:42,N,1,-73.921387,40.766678,-73.931427,40.771584,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1
4,2,2015-09-01 00:00:14,2015-09-01 00:04:20,N,1,-73.955482,40.714046,-73.944412,40.714729,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1