In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pew_data = pd.read_csv("pew.csv")

In [4]:
pew_data

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [5]:
pew_data.shape

(18, 11)

In [6]:
pew_data.dtypes

religion              object
<$10k                  int64
$10-20k                int64
$20-30k                int64
$30-40k                int64
$40-50k                int64
$50-75k                int64
$75-100k               int64
$100-150k              int64
>150k                  int64
Don't know/refused     int64
dtype: object

In [7]:
pew_data_tidy = pd.melt(pew_data, id_vars = ["religion"], var_name="income_group"  ,value_name="count")

In [8]:
pew_data_tidy.dtypes

religion        object
income_group    object
count            int64
dtype: object

In [9]:
pew_data_tidy["income_group"] = pew_data_tidy["income_group"].astype("category")

In [10]:
pew_data_tidy.dtypes

religion          object
income_group    category
count              int64
dtype: object

In [12]:
pew_data_tidy.groupby("religion")["count"].mean()

religion
Agnostic                    82.6
Atheist                     51.5
Buddhist                    41.1
Catholic                   805.4
Don’t know/refused          27.2
Evangelical Prot           947.2
Hindu                       25.7
Historically Black Prot    199.5
Jehovah's Witness           21.5
Jewish                      68.2
Mainline Prot              747.0
Mormon                      58.1
Muslim                      11.6
Orthodox                    36.3
Other Christian             12.9
Other Faiths                44.9
Other World Religions        4.2
Unaffiliated               370.7
Name: count, dtype: float64

In [13]:
pew_data_tidy.groupby("religion")["count"].median()

religion
Agnostic                    82.5
Atheist                     55.5
Buddhist                    36.5
Catholic                   701.0
Don’t know/refused          16.0
Evangelical Prot           915.0
Hindu                       22.5
Historically Black Prot    225.5
Jehovah's Witness           22.5
Jewish                      49.5
Mainline Prot              653.0
Mormon                      50.0
Muslim                       9.0
Orthodox                    35.0
Other Christian             13.0
Other Faiths                43.5
Other World Religions        4.0
Unaffiliated               353.0
Name: count, dtype: float64

In [14]:
tb_data = pd.read_csv("tb.csv")

In [18]:
tb_data.sample(5)

,iso2,year,m04,m514,m014,m1524,m2534,m3544,m4554,m5564,...,f04,f514,f014,f1524,f2534,f3544,f4554,f5564,f65,fu
2911,LB,2007,0.0,0.0,0.0,12.0,19.0,13.0,12.0,11.0,...,0.0,1.0,1.0,17.0,30.0,13.0,5.0,3.0,2.0,NaN
4342,PY,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2309,IL,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1188,CR,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4756,SN,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
tb_data.iso2.unique()

array(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AR', 'AS',
       'AT', 'AU', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI',
       'BJ', 'BM', 'BN', 'BO', 'BR', 'BS', 'BT', 'BW', 'BY', 'BZ', 'CA',
       'CD', 'CF', 'CG', 'CH', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR',
       'CU', 'CV', 'CY', 'CZ', 'DE', 'DJ', 'DK', 'DM', 'DO', 'DZ', 'EC',
       'EE', 'EG', 'ER', 'ES', 'ET', 'FI', 'FJ', 'FM', 'FR', 'GA', 'GB',
       'GD', 'GE', 'GH', 'GM', 'GN', 'GQ', 'GR', 'GT', 'GU', 'GW', 'GY',
       'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE', 'IL', 'IN', 'IQ', 'IR',
       'IS', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KI', 'KM', 'KN',
       'KP', 'KR', 'KW', 'KY', 'KZ', 'LA', 'LB', 'LC', 'LK', 'LR', 'LS',
       'LT', 'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'ME', 'MG', 'MH', 'MK',
       'ML', 'MM', 'MN', 'MO', 'MP', 'MR', 'MS', 'MT', 'MU', 'MV', 'MW',
       'MX', 'MY', 'MZ', nan, 'NC', 'NE', 'NG', 'NI', 'NL', 'NO', 'NP',
       'NR', 'NU', 'NZ', 'OM', 'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL',
       'PR', 'PS', 'PT', 'PW', 'PY', 'QA', 'RO', 'RS', 'RU', 'RW', 'SA',
       'SB', 'SC', 'SD', 'SE', 'SG', 'SI', 'SK', 'SL', 'SM', 'SN', 'SO',
       'SR', 'ST', 'SV', 'SY', 'SZ', 'TC', 'TD', 'TG', 'TH', 'TJ', 'TK',
       'TL', 'TM', 'TN', 'TO', 'TR', 'TT', 'TV', 'TZ', 'UA', 'UG', 'US',
       'UY', 'UZ', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WF', 'WS', 'YE',
       'YU', 'ZA', 'ZM', 'ZW'], dtype=object)

In [22]:
tb_data_tidy = tb_data.melt(id_vars = ["iso2", "year"], var_name="gender_and_age", value_name="count")

In [25]:
tb_data_tidy.sample(5)

       iso2  year gender_and_age  count
112041   IS  1987             fu    NaN
15085    MV  1981           m014    NaN
91521    TG  1987          f3544    NaN
51817    YU  1986            m65    NaN
56718    SO  2008             mu    0.0

In [26]:
tb_data_tidy.gender_and_age.str.slice(0, 1)

0         m
1         m
2         m
3         m
4         m
5         m
6         m
7         m
8         m
9         m
10        m
11        m
12        m
13        m
14        m
15        m
16        m
17        m
18        m
19        m
20        m
21        m
22        m
23        m
24        m
25        m
26        m
27        m
28        m
29        m
         ..
115350    f
115351    f
115352    f
115353    f
115354    f
115355    f
115356    f
115357    f
115358    f
115359    f
115360    f
115361    f
115362    f
115363    f
115364    f
115365    f
115366    f
115367    f
115368    f
115369    f
115370    f
115371    f
115372    f
115373    f
115374    f
115375    f
115376    f
115377    f
115378    f
115379    f
Name: gender_and_age, Length: 115380, dtype: object

In [27]:
tb = pd.read_csv("tb.csv")

# Melt the values

tb = pd.melt(tb, id_vars = ["iso2","year"],
value_name = "cases", var_name = "sex_and_age")

# Separate the columns and merge back

parts = tb["sex_and_age"].str.extract("(\D)(\d+)(\d{2})", expand = True)

parts.columns = ["sex", "age_lower", "age_upper"]

parts["age"] = parts["age_lower"] + "-" + parts["age_upper"]

tb = pd.concat([tb, parts], axis = 1)

# Remove missing values and sort them

tb = tb.drop(["sex_and_age", "age_lower", "age_upper"], axis = 1)

tb = tb.dropna()

tb = tb.sort_values(by = ["iso2", "year", "sex", "age", "cases"])

# The index is now wrong, reindex to make it better

tb = tb.reset_index()

del tb["index"]

In [28]:
tb

      iso2  year   cases sex    age
0       AD  1996     0.0   f   0-14
1       AD  1996     1.0   f  15-24
2       AD  1996     1.0   f  25-34
3       AD  1996     0.0   f  35-44
4       AD  1996     0.0   f  45-54
5       AD  1996     1.0   f  55-64
6       AD  1996     0.0   m   0-14
7       AD  1996     0.0   m  15-24
8       AD  1996     0.0   m  25-34
9       AD  1996     4.0   m  35-44
10      AD  1996     1.0   m  45-54
11      AD  1996     0.0   m  55-64
12      AD  1997     0.0   f   0-14
13      AD  1997     1.0   f  15-24
14      AD  1997     2.0   f  25-34
15      AD  1997     3.0   f  35-44
16      AD  1997     0.0   f  45-54
17      AD  1997     0.0   f  55-64
18      AD  1997     0.0   m   0-14
19      AD  1997     0.0   m  15-24
20      AD  1997     1.0   m  25-34
21      AD  1997     2.0   m  35-44
22      AD  1997     2.0   m  45-54
23      AD  1997     1.0   m  55-64
24      AD  1998     0.0   m   0-14
25      AD  1998     0.0   m  15-24
26      AD  1998     0.0   m  25-34
27      AD  1998     1.0   m  35-44
28      AD  1998     0.0   m  45-54
29      AD  1998     0.0   m  55-64
...    ...   ...     ...  ..    ...
29418   ZW  2006  2391.0   m  25-34
29419   ZW  2006  1939.0   m  35-44
29420   ZW  2006   896.0   m  45-54
29421   ZW  2006   348.0   m  55-64
29422   ZW  2007   185.0   f   0-14
29423   ZW  2007   739.0   f  15-24
29424   ZW  2007  3311.0   f  25-34
29425   ZW  2007     0.0   f  35-44
29426   ZW  2007   553.0   f  45-54
29427   ZW  2007   178.0   f   5-14
29428   ZW  2007   213.0   f  55-64
29429   ZW  2007   138.0   m   0-14
29430   ZW  2007   500.0   m  15-24
29431   ZW  2007  3693.0   m  25-34
29432   ZW  2007     0.0   m  35-44
29433   ZW  2007   716.0   m  45-54
29434   ZW  2007   132.0   m   5-14
29435   ZW  2007   292.0   m  55-64
29436   ZW  2008   145.0   f   0-14
29437   ZW  2008   840.0   f  15-24
29438   ZW  2008     0.0   f  25-34
29439   ZW  2008  2890.0   f  35-44
29440   ZW  2008   467.0   f  45-54
29441   ZW  2008   174.0   f  55-64
29442   ZW  2008   127.0   m   0-14
29443   ZW  2008   614.0   m  15-24
29444   ZW  2008     0.0   m  25-34
29445   ZW  2008  3316.0   m  35-44
29446   ZW  2008   704.0   m  45-54
29447   ZW  2008   263.0   m  55-64

[29448 rows x 5 columns]

In [29]:
tb[tb["iso2"] == "BG"]

     iso2  year  cases sex    age
2467   BG  2000    0.0   f   0-14
2468   BG  2000   11.0   f  15-24
2469   BG  2000   14.0   f  25-34
2470   BG  2000    7.0   f  35-44
2471   BG  2000    3.0   f  45-54
2472   BG  2000    4.0   f  55-64
2473   BG  2000    0.0   m   0-14
2474   BG  2000   13.0   m  15-24
2475   BG  2000   16.0   m  25-34
2476   BG  2000   20.0   m  35-44
2477   BG  2000    3.0   m  45-54
2478   BG  2000    9.0   m  55-64
2479   BG  2001    1.0   f   0-14
2480   BG  2001   11.0   f  15-24
2481   BG  2001   16.0   f  25-34
2482   BG  2001   13.0   f  35-44
2483   BG  2001    5.0   f  45-54
2484   BG  2001    2.0   f  55-64
2485   BG  2001    1.0   m   0-14
2486   BG  2001   15.0   m  15-24
2487   BG  2001   20.0   m  25-34
2488   BG  2001   23.0   m  35-44
2489   BG  2001   23.0   m  45-54
2490   BG  2001   18.0   m  55-64
2491   BG  2002    6.0   f   0-14
2492   BG  2002   48.0   f  15-24
2493   BG  2002   73.0   f  25-34
2494   BG  2002   45.0   f  35-44
2495   BG  2002   19.0   f  45-54
2496   BG  2002    9.0   f  55-64
...   ...   ...    ...  ..    ...
2551   BG  2006  184.0   m  45-54
2552   BG  2006  133.0   m  55-64
2553   BG  2007    4.0   f   0-14
2554   BG  2007   63.0   f  15-24
2555   BG  2007   77.0   f  25-34
2556   BG  2007   53.0   f  35-44
2557   BG  2007   38.0   f  45-54
2558   BG  2007    2.0   f   5-14
2559   BG  2007   29.0   f  55-64
2560   BG  2007    7.0   m   0-14
2561   BG  2007   63.0   m  15-24
2562   BG  2007  122.0   m  25-34
2563   BG  2007  181.0   m  35-44
2564   BG  2007  176.0   m  45-54
2565   BG  2007    5.0   m   5-14
2566   BG  2007  131.0   m  55-64
2567   BG  2008    1.0   f   0-14
2568   BG  2008   57.0   f  15-24
2569   BG  2008   78.0   f  25-34
2570   BG  2008   54.0   f  35-44
2571   BG  2008   31.0   f  45-54
2572   BG  2008    0.0   f   5-14
2573   BG  2008   23.0   f  55-64
2574   BG  2008    2.0   m   0-14
2575   BG  2008   80.0   m  15-24
2576   BG  2008  145.0   m  25-34
2577   BG  2008  151.0   m  35-44
2578   BG  2008  159.0   m  45-54
2579   BG  2008    1.0   m   5-14
2580   BG  2008  127.0   m  55-64

[114 rows x 5 columns]

In [30]:
tb[tb["iso2"] == "BG"].cases

2467      0.0
2468     11.0
2469     14.0
2470      7.0
2471      3.0
2472      4.0
2473      0.0
2474     13.0
2475     16.0
2476     20.0
2477      3.0
2478      9.0
2479      1.0
2480     11.0
2481     16.0
2482     13.0
2483      5.0
2484      2.0
2485      1.0
2486     15.0
2487     20.0
2488     23.0
2489     23.0
2490     18.0
2491      6.0
2492     48.0
2493     73.0
2494     45.0
2495     19.0
2496      9.0
        ...
2551    184.0
2552    133.0
2553      4.0
2554     63.0
2555     77.0
2556     53.0
2557     38.0
2558      2.0
2559     29.0
2560      7.0
2561     63.0
2562    122.0
2563    181.0
2564    176.0
2565      5.0
2566    131.0
2567      1.0
2568     57.0
2569     78.0
2570     54.0
2571     31.0
2572      0.0
2573     23.0
2574      2.0
2575     80.0
2576    145.0
2577    151.0
2578    159.0
2579      1.0
2580    127.0
Name: cases, Length: 114, dtype: float64

In [31]:
tb[tb["iso2"] == "BG"].cases.mean()

63.219298245614034

In [34]:
tb[tb["iso2"] == "BG"].groupby("year").cases.mean()

year
2000     8.333333
2001    12.333333
2002    54.666667
2003    92.250000
2004    94.416667
2005    82.142857
2006    87.750000
2007    67.928571
2008    64.928571
Name: cases, dtype: float64