In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pew_data = pd.read_csv("pew.csv")

In [4]:
pew_data

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [5]:
pew_data.shape

(18, 11)

In [6]:
pew_data.dtypes

religion              object
<$10k                  int64
$10-20k                int64
$20-30k                int64
$30-40k                int64
$40-50k                int64
$50-75k                int64
$75-100k               int64
$100-150k              int64
>150k                  int64
Don't know/refused     int64
dtype: object

In [7]:
pew_data_tidy = pd.melt(pew_data, id_vars = ["religion"], var_name="income_group"  ,value_name="count")

In [8]:
pew_data_tidy.dtypes

religion        object
income_group    object
count            int64
dtype: object

In [9]:
pew_data_tidy["income_group"] = pew_data_tidy["income_group"].astype("category")

In [10]:
pew_data_tidy.dtypes

religion          object
income_group    category
count              int64
dtype: object

In [11]:
pew_data_tidy.groupby("religion")["count"].mean()

religion
Agnostic                    82.6
Atheist                     51.5
Buddhist                    41.1
Catholic                   805.4
Don’t know/refused          27.2
Evangelical Prot           947.2
Hindu                       25.7
Historically Black Prot    199.5
Jehovah's Witness           21.5
Jewish                      68.2
Mainline Prot              747.0
Mormon                      58.1
Muslim                      11.6
Orthodox                    36.3
Other Christian             12.9
Other Faiths                44.9
Other World Religions        4.2
Unaffiliated               370.7
Name: count, dtype: float64

In [12]:
pew_data_tidy.groupby("religion")["count"].median()

religion
Agnostic                    82.5
Atheist                     55.5
Buddhist                    36.5
Catholic                   701.0
Don’t know/refused          16.0
Evangelical Prot           915.0
Hindu                       22.5
Historically Black Prot    225.5
Jehovah's Witness           22.5
Jewish                      49.5
Mainline Prot              653.0
Mormon                      50.0
Muslim                       9.0
Orthodox                    35.0
Other Christian             13.0
Other Faiths                43.5
Other World Religions        4.0
Unaffiliated               353.0
Name: count, dtype: float64

In [13]:
tb_data = pd.read_csv("tb.csv")

In [14]:
tb_data.sample(5)

,iso2,year,m04,m514,m014,m1524,m2534,m3544,m4554,m5564,...,f04,f514,f014,f1524,f2534,f3544,f4554,f5564,f65,fu
5016,TH,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313,IL,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,BR,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1558,EG,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,AL,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
tb_data.iso2.unique()

array(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AR', 'AS',
       'AT', 'AU', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI',
       'BJ', 'BM', 'BN', 'BO', 'BR', 'BS', 'BT', 'BW', 'BY', 'BZ', 'CA',
       'CD', 'CF', 'CG', 'CH', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR',
       'CU', 'CV', 'CY', 'CZ', 'DE', 'DJ', 'DK', 'DM', 'DO', 'DZ', 'EC',
       'EE', 'EG', 'ER', 'ES', 'ET', 'FI', 'FJ', 'FM', 'FR', 'GA', 'GB',
       'GD', 'GE', 'GH', 'GM', 'GN', 'GQ', 'GR', 'GT', 'GU', 'GW', 'GY',
       'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE', 'IL', 'IN', 'IQ', 'IR',
       'IS', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KI', 'KM', 'KN',
       'KP', 'KR', 'KW', 'KY', 'KZ', 'LA', 'LB', 'LC', 'LK', 'LR', 'LS',
       'LT', 'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'ME', 'MG', 'MH', 'MK',
       'ML', 'MM', 'MN', 'MO', 'MP', 'MR', 'MS', 'MT', 'MU', 'MV', 'MW',
       'MX', 'MY', 'MZ', nan, 'NC', 'NE', 'NG', 'NI', 'NL', 'NO', 'NP',
       'NR', 'NU', 'NZ', 'OM', 'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL',
       'PR', 'PS', 'PT', 'PW', 'PY', 'QA', 'RO', 'RS', 'RU', 'RW', 'SA',
       'SB', 'SC', 'SD', 'SE', 'SG', 'SI', 'SK', 'SL', 'SM', 'SN', 'SO',
       'SR', 'ST', 'SV', 'SY', 'SZ', 'TC', 'TD', 'TG', 'TH', 'TJ', 'TK',
       'TL', 'TM', 'TN', 'TO', 'TR', 'TT', 'TV', 'TZ', 'UA', 'UG', 'US',
       'UY', 'UZ', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WF', 'WS', 'YE',
       'YU', 'ZA', 'ZM', 'ZW'], dtype=object)

In [16]:
tb_data_tidy = tb_data.melt(id_vars = ["iso2", "year"], var_name="gender_and_age", value_name="count")

In [17]:
tb_data_tidy.sample(5)

      iso2  year gender_and_age  count
42199   GB  2001          m5564   81.0
95640   MM  1992          f4554    NaN
11029   TV  1999           m514    NaN
13619   GY  1981           m014    NaN
59089   DK  1999            f04    NaN

In [18]:
tb_data_tidy.gender_and_age.str.slice(0, 1)

0         m
1         m
2         m
3         m
4         m
5         m
6         m
7         m
8         m
9         m
10        m
11        m
12        m
13        m
14        m
15        m
16        m
17        m
18        m
19        m
20        m
21        m
22        m
23        m
24        m
25        m
26        m
27        m
28        m
29        m
         ..
115350    f
115351    f
115352    f
115353    f
115354    f
115355    f
115356    f
115357    f
115358    f
115359    f
115360    f
115361    f
115362    f
115363    f
115364    f
115365    f
115366    f
115367    f
115368    f
115369    f
115370    f
115371    f
115372    f
115373    f
115374    f
115375    f
115376    f
115377    f
115378    f
115379    f
Name: gender_and_age, Length: 115380, dtype: object

In [19]:
tb = pd.read_csv("tb.csv")

# Melt the values

tb = pd.melt(tb, id_vars = ["iso2","year"],
value_name = "cases", var_name = "sex_and_age")

# Separate the columns and merge back

parts = tb["sex_and_age"].str.extract("(\D)(\d+)(\d{2})", expand = True)

parts.columns = ["sex", "age_lower", "age_upper"]

parts["age"] = parts["age_lower"] + "-" + parts["age_upper"]

tb = pd.concat([tb, parts], axis = 1)

# Remove missing values and sort them

tb = tb.drop(["sex_and_age", "age_lower", "age_upper"], axis = 1)

tb = tb.dropna()

tb = tb.sort_values(by = ["iso2", "year", "sex", "age", "cases"])

# The index is now wrong, reindex to make it better

tb = tb.reset_index()

del tb["index"]

In [20]:
tb

      iso2  year   cases sex    age
0       AD  1996     0.0   f   0-14
1       AD  1996     1.0   f  15-24
2       AD  1996     1.0   f  25-34
3       AD  1996     0.0   f  35-44
4       AD  1996     0.0   f  45-54
5       AD  1996     1.0   f  55-64
6       AD  1996     0.0   m   0-14
7       AD  1996     0.0   m  15-24
8       AD  1996     0.0   m  25-34
9       AD  1996     4.0   m  35-44
10      AD  1996     1.0   m  45-54
11      AD  1996     0.0   m  55-64
12      AD  1997     0.0   f   0-14
13      AD  1997     1.0   f  15-24
14      AD  1997     2.0   f  25-34
15      AD  1997     3.0   f  35-44
16      AD  1997     0.0   f  45-54
17      AD  1997     0.0   f  55-64
18      AD  1997     0.0   m   0-14
19      AD  1997     0.0   m  15-24
20      AD  1997     1.0   m  25-34
21      AD  1997     2.0   m  35-44
22      AD  1997     2.0   m  45-54
23      AD  1997     1.0   m  55-64
24      AD  1998     0.0   m   0-14
25      AD  1998     0.0   m  15-24
26      AD  1998     0.0   m  25-34
27      AD  1998     1.0   m  35-44
28      AD  1998     0.0   m  45-54
29      AD  1998     0.0   m  55-64
...    ...   ...     ...  ..    ...
29418   ZW  2006  2391.0   m  25-34
29419   ZW  2006  1939.0   m  35-44
29420   ZW  2006   896.0   m  45-54
29421   ZW  2006   348.0   m  55-64
29422   ZW  2007   185.0   f   0-14
29423   ZW  2007   739.0   f  15-24
29424   ZW  2007  3311.0   f  25-34
29425   ZW  2007     0.0   f  35-44
29426   ZW  2007   553.0   f  45-54
29427   ZW  2007   178.0   f   5-14
29428   ZW  2007   213.0   f  55-64
29429   ZW  2007   138.0   m   0-14
29430   ZW  2007   500.0   m  15-24
29431   ZW  2007  3693.0   m  25-34
29432   ZW  2007     0.0   m  35-44
29433   ZW  2007   716.0   m  45-54
29434   ZW  2007   132.0   m   5-14
29435   ZW  2007   292.0   m  55-64
29436   ZW  2008   145.0   f   0-14
29437   ZW  2008   840.0   f  15-24
29438   ZW  2008     0.0   f  25-34
29439   ZW  2008  2890.0   f  35-44
29440   ZW  2008   467.0   f  45-54
29441   ZW  2008   174.0   f  55-64
29442   ZW  2008   127.0   m   0-14
29443   ZW  2008   614.0   m  15-24
29444   ZW  2008     0.0   m  25-34
29445   ZW  2008  3316.0   m  35-44
29446   ZW  2008   704.0   m  45-54
29447   ZW  2008   263.0   m  55-64

[29448 rows x 5 columns]

In [21]:
tb[tb["iso2"] == "BG"]

     iso2  year  cases sex    age
2467   BG  2000    0.0   f   0-14
2468   BG  2000   11.0   f  15-24
2469   BG  2000   14.0   f  25-34
2470   BG  2000    7.0   f  35-44
2471   BG  2000    3.0   f  45-54
2472   BG  2000    4.0   f  55-64
2473   BG  2000    0.0   m   0-14
2474   BG  2000   13.0   m  15-24
2475   BG  2000   16.0   m  25-34
2476   BG  2000   20.0   m  35-44
2477   BG  2000    3.0   m  45-54
2478   BG  2000    9.0   m  55-64
2479   BG  2001    1.0   f   0-14
2480   BG  2001   11.0   f  15-24
2481   BG  2001   16.0   f  25-34
2482   BG  2001   13.0   f  35-44
2483   BG  2001    5.0   f  45-54
2484   BG  2001    2.0   f  55-64
2485   BG  2001    1.0   m   0-14
2486   BG  2001   15.0   m  15-24
2487   BG  2001   20.0   m  25-34
2488   BG  2001   23.0   m  35-44
2489   BG  2001   23.0   m  45-54
2490   BG  2001   18.0   m  55-64
2491   BG  2002    6.0   f   0-14
2492   BG  2002   48.0   f  15-24
2493   BG  2002   73.0   f  25-34
2494   BG  2002   45.0   f  35-44
2495   BG  2002   19.0   f  45-54
2496   BG  2002    9.0   f  55-64
...   ...   ...    ...  ..    ...
2551   BG  2006  184.0   m  45-54
2552   BG  2006  133.0   m  55-64
2553   BG  2007    4.0   f   0-14
2554   BG  2007   63.0   f  15-24
2555   BG  2007   77.0   f  25-34
2556   BG  2007   53.0   f  35-44
2557   BG  2007   38.0   f  45-54
2558   BG  2007    2.0   f   5-14
2559   BG  2007   29.0   f  55-64
2560   BG  2007    7.0   m   0-14
2561   BG  2007   63.0   m  15-24
2562   BG  2007  122.0   m  25-34
2563   BG  2007  181.0   m  35-44
2564   BG  2007  176.0   m  45-54
2565   BG  2007    5.0   m   5-14
2566   BG  2007  131.0   m  55-64
2567   BG  2008    1.0   f   0-14
2568   BG  2008   57.0   f  15-24
2569   BG  2008   78.0   f  25-34
2570   BG  2008   54.0   f  35-44
2571   BG  2008   31.0   f  45-54
2572   BG  2008    0.0   f   5-14
2573   BG  2008   23.0   f  55-64
2574   BG  2008    2.0   m   0-14
2575   BG  2008   80.0   m  15-24
2576   BG  2008  145.0   m  25-34
2577   BG  2008  151.0   m  35-44
2578   BG  2008  159.0   m  45-54
2579   BG  2008    1.0   m   5-14
2580   BG  2008  127.0   m  55-64

[114 rows x 5 columns]

In [22]:
tb[tb["iso2"] == "BG"].cases

2467      0.0
2468     11.0
2469     14.0
2470      7.0
2471      3.0
2472      4.0
2473      0.0
2474     13.0
2475     16.0
2476     20.0
2477      3.0
2478      9.0
2479      1.0
2480     11.0
2481     16.0
2482     13.0
2483      5.0
2484      2.0
2485      1.0
2486     15.0
2487     20.0
2488     23.0
2489     23.0
2490     18.0
2491      6.0
2492     48.0
2493     73.0
2494     45.0
2495     19.0
2496      9.0
        ...
2551    184.0
2552    133.0
2553      4.0
2554     63.0
2555     77.0
2556     53.0
2557     38.0
2558      2.0
2559     29.0
2560      7.0
2561     63.0
2562    122.0
2563    181.0
2564    176.0
2565      5.0
2566    131.0
2567      1.0
2568     57.0
2569     78.0
2570     54.0
2571     31.0
2572      0.0
2573     23.0
2574      2.0
2575     80.0
2576    145.0
2577    151.0
2578    159.0
2579      1.0
2580    127.0
Name: cases, Length: 114, dtype: float64

In [23]:
tb[tb["iso2"] == "BG"].cases.mean()

63.219298245614034

In [24]:
tb[tb["iso2"] == "BG"].groupby("year").cases.mean()

year
2000     8.333333
2001    12.333333
2002    54.666667
2003    92.250000
2004    94.416667
2005    82.142857
2006    87.750000
2007    67.928571
2008    64.928571
Name: cases, dtype: float64

In [25]:
temp_data = pd.read_csv("weather.csv")

In [26]:
temp_data.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
temp_data["id"].unique()

array(['MX17004'], dtype=object)

In [28]:
temp_data = pd.read_csv("weather.csv")

temp_data = pd.melt(temp_data,
id_vars = ["id", "year", "month", "element"], var_name = "day")

temp_data["day"] = temp_data["day"].str.extract("(\d+)", expand = True).astype(np.int64)

# Remove missing / invalid days (e.g. 31st April) and dates with no records

temp_data = temp_data.dropna()

temp_data["date"] = pd.to_datetime(temp_data[["year", "month", "day"]])

temp_data = temp_data.drop(["year", "month", "day"], axis = 1)

# Pivot the elements back to their own columns

temp_data = temp_data.pivot_table(index = ["id", "date"], columns = "element", values = "value")

# Pivoting returns a multi-indexed element, go back to a flat DataFrame

temp_data.reset_index(inplace = True)

temp_data.columns.name = ""

temp_data = temp_data.drop("id", axis = 1)

In [29]:
temp_data

         date  tmax  tmin
0  2010-01-30  27.8  14.5
1  2010-02-02  27.3  14.4
2  2010-02-03  24.1  14.4
3  2010-02-11  29.7  13.4
4  2010-02-23  29.9  10.7
5  2010-03-05  32.1  14.2
6  2010-03-10  34.5  16.8
7  2010-03-16  31.1  17.6
8  2010-04-27  36.3  16.7
9  2010-05-27  33.2  18.2
10 2010-06-17  28.0  17.5
11 2010-06-29  30.1  18.0
12 2010-07-03  28.6  17.5
13 2010-07-14  29.9  16.5
14 2010-08-05  29.6  15.8
15 2010-08-08  29.0  17.3
16 2010-08-13  29.8  16.5
17 2010-08-23  26.4  15.0
18 2010-08-25  29.7  15.6
19 2010-08-29  28.0  15.3
20 2010-08-31  25.4  15.4
21 2010-10-05  27.0  14.0
22 2010-10-07  28.1  12.9
23 2010-10-14  29.5  13.0
24 2010-10-15  28.7  10.5
25 2010-10-28  31.2  15.0
26 2010-11-02  31.3  16.3
27 2010-11-04  27.2  12.0
28 2010-11-05  26.3   7.9
29 2010-11-26  28.1  12.1
30 2010-11-27  27.7  14.2
31 2010-12-01  29.9  13.8
32 2010-12-06  27.8  10.5

In [30]:
billboard_data = pd.read_csv("billboard.csv")

In [31]:
billboard_data

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,51,39.0,34.0,26.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,97,97.0,96.0,95.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,84,62.0,51.0,41.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Aaliyah,Try Again,4:03,2000-03-18,59,53.0,38.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,76,76.0,74.0,69.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,"Adkins, Trace",More,3:05,2000-04-29,84,84.0,75.0,73.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,50,39.0,30.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,71,51.0,28.0,18.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,79,65.0,53.0,48.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,80,78.0,76.0,77.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,Amber,Sexual,4:38,1999-07-17,99,99.0,96.0,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,92,NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,82,76.0,76.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,77,54.0,50.0,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,Avant,My First Love,4:28,2000-11-04,70,62.0,56.0,43.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,Avant,Separated,4:13,2000-04-29,62,32.0,30.0,23.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,BBMak,Back Here,3:35,2000-04-29,99,86.0,60.0,52.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,39,25.0,24.0,15.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,74,62.0,55.0,25.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,58,50.0,43.0,37.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,67,53.0,42.0,41.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,99,92.0,85.0,76.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,77,76.0,69.0,45.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,72,72.0,63.0,56.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,77,63.0,61.0,58.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,75,64.0,48.0,39.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,82,82.0,86.0,80.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,74,72.0,66.0,53.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,Train,Meet Virginia,3:55,1999-10-09,76,67.0,59.0,54.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Trick Daddy,Shut Up,4:17,2000-05-20,99,95.0,87.0,87.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Trina,Pull Over,2:58,2000-09-09,97,93.0,96.0,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,97,86.0,79.0,70.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,Tuesday,I Know,4:06,2000-12-30,98,98.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,81,80.0,73.0,73.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Usher,Pop Ya Collar,3:36,2000-11-04,68,64.0,60.0,60.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,75,67.0,64.0,64.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,81,81.0,76.0,67.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,70,61.0,53.0,46.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Vertical Horizon,You're A God,3:45,2000-08-26,64,55.0,43.0,41.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,81,64.0,54.0,54.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Vitamin C,The Itch,3:30,2000-12-02,86,48.0,45.0,52.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,95,95.0,94.0,94.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,73,65.0,57.0,57.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,73,73.0,74.0,80.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,Westlife,Swear It Again,4:07,2000-04-01,96,82.0,66.0,55.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Williams, Robbie",Angels,3:56,1999-11-20,85,77.0,69.0,69.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,"Wills, Mark",Back At One,4:00,2000-01-15,89,55.0,51.0,43.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,98,88.0,93.0,92.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,"Wright, Chely",It Was,3:51,2000-03-04,86,78.0,75.0,72.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
billboard_data.shape

(317, 81)

In [33]:
billboard_data_tidy = billboard_data.melt(id_vars = ["year", "artist", "track", "time", "date.entered"], var_name ="week", value_name = "position")

In [34]:
billboard_data_tidy = billboard_data_tidy.dropna()

In [35]:
billboard_data_tidy.position = billboard_data_tidy.position.astype("int")

In [36]:
billboard_data_tidy.dtypes

year             int64
artist          object
track           object
time            object
date.entered    object
week            object
position         int32
dtype: object

In [37]:
billboard_data_tidy.head()

,year,artist,track,time,date.entered,week,position
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57

In [38]:
songs = billboard_data_tidy[["year", "artist", "track", "time"]]

In [39]:
songs.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [40]:
songs.tail()

       year    artist   track  time
19716  2000     Creed  Higher  5:16
19833  2000  Lonestar  Amazed  4:25
20033  2000     Creed  Higher  5:16
20150  2000  Lonestar  Amazed  4:25
20350  2000     Creed  Higher  5:16

In [41]:
songs.sample(6)

       year          artist                    track  time
916    2000             TLC                 Dear Lie  4:36
253    2000   Savage Garden           Crash And Burn  4:41
19833  2000        Lonestar                   Amazed  4:25
1819   2000            Pink               There U Go  3:23
5138   2000        D'Angelo  Untitled (How Does I...  7:10
6095   2000  Davidson, Clay            Unconditional  3:56

In [44]:
temp_data.nlargest(10, "tmin")

         date  tmax  tmin
9  2010-05-27  33.2  18.2
11 2010-06-29  30.1  18.0
7  2010-03-16  31.1  17.6
10 2010-06-17  28.0  17.5
12 2010-07-03  28.6  17.5
15 2010-08-08  29.0  17.3
6  2010-03-10  34.5  16.8
8  2010-04-27  36.3  16.7
13 2010-07-14  29.9  16.5
16 2010-08-13  29.8  16.5

In [45]:
temp_data.nlargest(10, "tmax")

         date  tmax  tmin
8  2010-04-27  36.3  16.7
6  2010-03-10  34.5  16.8
9  2010-05-27  33.2  18.2
5  2010-03-05  32.1  14.2
26 2010-11-02  31.3  16.3
25 2010-10-28  31.2  15.0
7  2010-03-16  31.1  17.6
11 2010-06-29  30.1  18.0
4  2010-02-23  29.9  10.7
13 2010-07-14  29.9  16.5

In [47]:
temp_data.loc[0:10]

         date  tmax  tmin
0  2010-01-30  27.8  14.5
1  2010-02-02  27.3  14.4
2  2010-02-03  24.1  14.4
3  2010-02-11  29.7  13.4
4  2010-02-23  29.9  10.7
5  2010-03-05  32.1  14.2
6  2010-03-10  34.5  16.8
7  2010-03-16  31.1  17.6
8  2010-04-27  36.3  16.7
9  2010-05-27  33.2  18.2
10 2010-06-17  28.0  17.5

In [50]:
temp_data[["date", "tmin"]]

         date  tmin
0  2010-01-30  14.5
1  2010-02-02  14.4
2  2010-02-03  14.4
3  2010-02-11  13.4
4  2010-02-23  10.7
5  2010-03-05  14.2
6  2010-03-10  16.8
7  2010-03-16  17.6
8  2010-04-27  16.7
9  2010-05-27  18.2
10 2010-06-17  17.5
11 2010-06-29  18.0
12 2010-07-03  17.5
13 2010-07-14  16.5
14 2010-08-05  15.8
15 2010-08-08  17.3
16 2010-08-13  16.5
17 2010-08-23  15.0
18 2010-08-25  15.6
19 2010-08-29  15.3
20 2010-08-31  15.4
21 2010-10-05  14.0
22 2010-10-07  12.9
23 2010-10-14  13.0
24 2010-10-15  10.5
25 2010-10-28  15.0
26 2010-11-02  16.3
27 2010-11-04  12.0
28 2010-11-05   7.9
29 2010-11-26  12.1
30 2010-11-27  14.2
31 2010-12-01  13.8
32 2010-12-06  10.5

In [51]:
temp_data.tmin > 15

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18     True
19     True
20     True
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30    False
31    False
32    False
Name: tmin, dtype: bool

In [52]:
temp_data[temp_data.tmin > 15]

         date  tmax  tmin
6  2010-03-10  34.5  16.8
7  2010-03-16  31.1  17.6
8  2010-04-27  36.3  16.7
9  2010-05-27  33.2  18.2
10 2010-06-17  28.0  17.5
11 2010-06-29  30.1  18.0
12 2010-07-03  28.6  17.5
13 2010-07-14  29.9  16.5
14 2010-08-05  29.6  15.8
15 2010-08-08  29.0  17.3
16 2010-08-13  29.8  16.5
18 2010-08-25  29.7  15.6
19 2010-08-29  28.0  15.3
20 2010-08-31  25.4  15.4
26 2010-11-02  31.3  16.3

In [53]:
temp_data[~(temp_data.tmin > 15)]

         date  tmax  tmin
0  2010-01-30  27.8  14.5
1  2010-02-02  27.3  14.4
2  2010-02-03  24.1  14.4
3  2010-02-11  29.7  13.4
4  2010-02-23  29.9  10.7
5  2010-03-05  32.1  14.2
17 2010-08-23  26.4  15.0
21 2010-10-05  27.0  14.0
22 2010-10-07  28.1  12.9
23 2010-10-14  29.5  13.0
24 2010-10-15  28.7  10.5
25 2010-10-28  31.2  15.0
27 2010-11-04  27.2  12.0
28 2010-11-05  26.3   7.9
29 2010-11-26  28.1  12.1
30 2010-11-27  27.7  14.2
31 2010-12-01  29.9  13.8
32 2010-12-06  27.8  10.5

In [54]:
temp_data[(temp_data.tmin > 15) & (temp_data.tmin < 20)]

         date  tmax  tmin
6  2010-03-10  34.5  16.8
7  2010-03-16  31.1  17.6
8  2010-04-27  36.3  16.7
9  2010-05-27  33.2  18.2
10 2010-06-17  28.0  17.5
11 2010-06-29  30.1  18.0
12 2010-07-03  28.6  17.5
13 2010-07-14  29.9  16.5
14 2010-08-05  29.6  15.8
15 2010-08-08  29.0  17.3
16 2010-08-13  29.8  16.5
18 2010-08-25  29.7  15.6
19 2010-08-29  28.0  15.3
20 2010-08-31  25.4  15.4
26 2010-11-02  31.3  16.3

In [55]:
(temp_data.tmax < temp_data.tmin).any()

False

In [57]:
temp_data["amplitude"] = temp_data.tmax - temp_data.tmin

In [59]:
temp_data.head()

        date  tmax  tmin  amplitude
0 2010-01-30  27.8  14.5       13.3
1 2010-02-02  27.3  14.4       12.9
2 2010-02-03  24.1  14.4        9.7
3 2010-02-11  29.7  13.4       16.3
4 2010-02-23  29.9  10.7       19.2

In [62]:
temp_data.amplitude.max()

19.599999999999998

In [63]:
temp_data[temp_data.amplitude == temp_data.amplitude.max()]

        date  tmax  tmin  amplitude
8 2010-04-27  36.3  16.7       19.6

In [66]:
temp_data.tmin.std()

2.4737523638342944

In [70]:
temp_data.describe().T

           count       mean       std   min   25%   50%   75%   max

tmax        33.0  29.190909  2.497419  24.1  27.8  29.0  29.9  36.3
tmin        33.0  14.651515  2.473752   7.9  13.4  15.0  16.5  18.2
amplitude   33.0  14.539394  2.691763   9.7  12.9  14.1  16.3  19.6

In [80]:
for artist_name, data in billboard_data_tidy.groupby("artist"):
    print(artist_name)
    print(data)
    break

2 Pac
      year artist                    track  time date.entered week  position
0     2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1        87
317   2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2        82
634   2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3        72
951   2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4        77
1268  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5        87
1585  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk6        94
1902  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk7        99

In [82]:
pew_data_tidy.groupby("income_group")["count"].mean()

income_group
$10-20k               154.500000
$100-150k             177.611111
$20-30k               186.500000
$30-40k               183.444444
$40-50k               171.388889
$50-75k               288.055556
$75-100k              221.666667
<$10k                 107.222222
>150k                 144.888889
Don't know/refused    340.055556
Name: count, dtype: float64

In [83]:
pew_data_tidy.groupby("religion")["count"].mean()

religion
Agnostic                    82.6
Atheist                     51.5
Buddhist                    41.1
Catholic                   805.4
Don’t know/refused          27.2
Evangelical Prot           947.2
Hindu                       25.7
Historically Black Prot    199.5
Jehovah's Witness           21.5
Jewish                      68.2
Mainline Prot              747.0
Mormon                      58.1
Muslim                      11.6
Orthodox                    36.3
Other Christian             12.9
Other Faiths                44.9
Other World Religions        4.2
Unaffiliated               370.7
Name: count, dtype: float64

In [84]:
pew_data_tidy.groupby(["income_group","religion"])["count"].mean()

income_group        religion
$10-20k             Agnostic                     34
                    Atheist                      27
                    Buddhist                     21
                    Catholic                    617
                    Don’t know/refused           14
                    Evangelical Prot            869
                    Hindu                         9
                    Historically Black Prot     244
                    Jehovah's Witness            27
                    Jewish                       19
                    Mainline Prot               495
                    Mormon                       40
                    Muslim                        7
                    Orthodox                     17
                    Other Christian               7
                    Other Faiths                 33
                    Other World Religions         2
                    Unaffiliated                299
$100-150k           Agnostic                    109
                    Atheist                      59
                    Buddhist                     39
                    Catholic                    792
                    Don’t know/refused           17
                    Evangelical Prot            723
                    Hindu                        48
                    Historically Black Prot      81
                    Jehovah's Witness            11
                    Jewish                       87
                    Mainline Prot               753
                    Mormon                       49
                                               ...
>150k               Hindu                        54
                    Historically Black Prot      78
                    Jehovah's Witness             6
                    Jewish                      151
                    Mainline Prot               634
                    Mormon                       42
                    Muslim                        6
                    Orthodox                     46
                    Other Christian              12
                    Other Faiths                 41
                    Other World Religions         4
                    Unaffiliated                258
Don't know/refused  Agnostic                     96
                    Atheist                      76
                    Buddhist                     54
                    Catholic                   1489
                    Don’t know/refused          116
                    Evangelical Prot           1529
                    Hindu                        37
                    Historically Black Prot     339
                    Jehovah's Witness            37
                    Jewish                      162
                    Mainline Prot              1328
                    Mormon                       69
                    Muslim                       22
                    Orthodox                     73
                    Other Christian              18
                    Other Faiths                 71
                    Other World Religions         8
                    Unaffiliated                597
Name: count, Length: 180, dtype: int64